extends layout
block content
    .product-info
        h2.product-title= product.title
        img(src=product.cover)
        p.product-author= product.author
        p.product-info= product.description
        p.product-price= product.price