extends layout
block content
        h2.product-title= product.title
        img(src=product.cover)
        p.product-author= product.author
        p.product-description= product.description
        p.product-price= product.price